<!DOCTYPE html>
<html lang="en" ng-app="dropdownDemo">
<head>
  <meta charset="UTF-8">
  <title>mdOutClick - define click handlers for clicks outside the element</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <link rel="stylesheet" href="www/styles.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body ng-controller="HomeController">
<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href ng-click="routing.navigateTo('/')">
      <img src="logo.png" alt="">
      mdOutClick</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href ng-click="routing.navigateTo('/setup')" class="nav-link">Setup</a>
        </li>
        <li class="nav-item">
          <a href ng-click="routing.navigateTo('/examples')" class="nav-link">Examples</a>
        </li>
      </ul>
    </div>

    <div class="social-buttons">
      <a class="github-button" href="https://github.com/dibosh/md-out-click" data-icon="octicon-star"
         data-show-count="true" aria-label="Star dibosh/md-out-click on GitHub">Star</a>
      <a class="github-button" href="https://github.com/dibosh" data-show-count="true"
         aria-label="Follow @dibosh on GitHub">Follow @dibosh</a>

    </div>
  </nav>
</header>

<ng-include src="routing.routes[routing.current]"></ng-include>

<footer class="bg-dark">
  <div class="container">
    <span class="text-muted">If you found it useful, don't forget to hit the <strong>star</strong>. Contributions are Welcome!</span>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="dist/md.out.click.min.js"></script>
<script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
<script src="www/index.js"></script>
</body>
</html>
