<div class="jumbotron">
  <h1 class="display-4">Using with Dropdowns</h1>
  <p class="lead">
    Bootstrap is awesome to create stunning websites in minutes. But most of the time you need more control
    over the components writing your own AngularJS codes, ending up only using the <mark>bootstrap.css</mark> and excluding
    the JS.
  </p>
  <hr class="my-4">
  <h5>Problem:</h5>
  <p>
    You are showing a dropdown using the <mark>bootstrap.css</mark>, the only problem is you can't close it when clicked
    outside anywhere else.
  </p>
  <h5>Solution: </h5>
  <p>
    <pre>
      <code>
        // Include mdOutClick in app dependency
        angular.module('yourApp', [
          // other dependencies
          'mdOutClick'
        ]);

        // In your template
        &lt;div class="dropdown" on-out-click="hideDropdown()"&gt;
          &lt;a class="dropdown-toggle" ng-click="showDropdown()" href="#"&gt;&lt;/a&gt;
          &lt;div class="dropdown-menu" ng-class="{'show': isDropdownVisible}"&gt;
            &lt;a class="dropdown-item" href="#"&gt;Dropdown MenuItem&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        // Inside controller
        $scope.isDropdownVisible = false;

        $scope.hideDropdown = function () {
          $scope.isDropdownVisible = false;
        };

        $scope.showDropdown = function () {
          $scope.isDropdownVisible = true;
        };
      </code>
    </pre>

    Or using the <mark>OutClickService</mark> by defining <mark>dropdown</mark>
    as your own <mark>directive</mark>-

    <pre>
      <code>
        // Include mdOutClick in app dependency as before
        angular.module('yourApp', [
          // other dependencies
          'mdOutClick'
        ]);

        // dropdown.html
        &lt;div class="dropdown"&gt;
          &lt;a class="dropdown-toggle" ng-click="showDropdown()" href="#"&gt;&lt;/a&gt;
          &lt;div class="dropdown-menu" ng-class="{'show': isDropdownVisible}"&gt;
            &lt;a class="dropdown-item" href="#"&gt;Dropdown MenuItem&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        // Define the directive
        angular.module('yourApp').directive('dropdown', dropdownDirective);
        dropdownDirective.$inject = ['OutClickService']; // explicitly inject the service

        function dropdownDirective(OutClickService) {
          return {
            templateUrl: 'template.html',
            restrict: 'E',
            replace: 'true',
            scope: true,
            link: function (scope, element) {
              scope.isDropdownVisible = false;
              scope.showDropdown = function () {
                $scope.isDropdownVisible = true;
              };
              // element is template root, i.e the div with class dropdown
              // passed function is the handler/callback that gets executed on any click
              // outside the element
              OutClickService.register(element, function () {
                scope.isDropdownVisible = false;
              });
            }
          };
        }
      </code>
    </pre>
  </p>
</div>
